* {
 color: #fff;
 margin: 0;
 padding: 0;
}
body {
 box-sizing: border-box;
 font-family: sans-serif;
}
.header {
    border-bottom:2px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #000012;
 
    position: fixed;
    width: 100%;
    min-height: 50px;
    border-bottom:2px solid #302e2e;
}
.logo {
    height: 50px;
    margin-left: 20px;
    cursor: pointer;
}
.nav {
    position: relative;  
 
}
.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #090a24;
    gap: 10px;

    position: absolute;
    top: 46px;
    right: 0;
    height: 100vh;
    width: 100vw;
    padding: 20px 0;

    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: clip-path 0.3s ease-in-out;
    z-index: 10;
}

.clipa {

    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}
.navegacion-li {
    list-style: none;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
   

}
.color2 {
        background-color: #0101196c;
}
.navegacion-li:hover {
     background-color: #0101196c;
     transition: .2s;
}
a {
    color: #bebfd0;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Courier';
    font-weight: 900;
}
.hambuerguesa {
    height: 30PX;
    cursor: pointer;
    margin-right: 20px;
    padding: 3px;
    border-radius: 5px ;
  
}
.color {
      background-color: #131320;
}
.section-1 {
     background-color: black;
    height: 100vh;
 
}

